<section>
    <div class="heading">
      <h1>About Us</h1>
      <p>THINK CREATIVE. THINK ENDEAVOUR</p>
    </div>
    <div class="container">
      <section class="about">
        <div class="about-image">
          <img [src]="url" alt="" width="800px" height="800px"/>
        </div>
        <div class="about-content">
          <h2>Endeavour Marketing</h2>
          <p>
            Welcome to the services of Endeavor Marketing, strategic
            marketing, and branding firm that helps businesses of all sizes
            achieve their marketing and branding goals. At Endeavor
            Marketing, we believe that effective marketing and branding are
            essential for businesses to thrive in today's competitive
            marketplace. That's why we take a holistic approach to marketing
            and branding, ensuring that all of our efforts are aligned with
            our client's business goals.At Endeavor Marketing, we are
            committed to delivering exceptional results for our clients, and
            we are always looking for new ways to help them succeed. If you
            are interested in learning more about how we can help your
            business, please don't hesitate to get in touch.
          </p>
          <a href="" class="read-more">Read More</a>
        </div>
      </section>
      <!------------  --------------------->

      <!-- ======= our vision our mission ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3>OUR VISION</h3>
              <p>
                "Ensure and enhance the quality of life of people through
                financial security by providing products and services of
                aspired attributes with competitive returns, and by
                rendering resources for economic development."
              </p>
              <br /><br />
              <h3>OUR MISSION</h3>
              <p>
                "A trans-nationally competitive financial conglomerate of significance to societies and Pride of India."
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End our vision our mission -->
    </div>
  </section>
