    <!-- Form Section -->
   <!-- Form Section -->
   <section class="leaddetailsform py-5">
    <div class="container form bg-light p-4">
      <h2>Enter the Leads</h2>
      <form action="#" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lead_name" class="form-label">Name:</label>
            <input type="text" id="lead_name" name="lead_name" class="form-control" placeholder="Enter lead Name">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lead_email" class="form-label">Email</label>
            <input type="email" class="form-control" id="lead_email" placeholder="Enter your email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lead_contact_no" class="form-label">Contact No:</label>
            <input type="tel" id="lead_contact_no" name="lead_contact_no" class="form-control" placeholder="Enter a Lead Name" required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="lead_adhar" class="form-label">Adhar Card</label>
            <input type="text" class="form-control" id="lead_adhar" placeholder="Enter your Adhar No">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lead_pancard" class="form-label">Pancard No</label>
            <input type="number" class="form-control" id="lead_pancard" placeholder="Enter your Pan No">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lead_age" class="form-label">Age:</label>
            <input type="number" id="lead_age" name="lead_age" class="form-control" placeholder="Enter alead Age">
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lead_address" class="form-label">Address:</label>
            <input type="text" id="lead_address" name="lead_address" class="form-control" placeholder="Entera leads Address" required>
          </div>
        </div>

        <h2 class="mt-5 mb-4">Enter the Nominee Details</h2>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nominee_name" class="form-label">Name:</label>
            <input type="text" id="nominee_name" name="nominee_name" class="form-control"  placeholder="Enter Nominee Name">
          </div>
          <div class="col-md-6 mb-3">
            <label for="nominee_email" class="form-label">Email</label>
            <input type="email" class="form-control" id="nominee_email" placeholder="Enter Nominee email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nominee_phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="nominee_phone" placeholder="Enter Nominee phone No">
          </div>
          <div class="col-md-6 mb-3">
            <label for="nominee_adhar" class="form-label">Adhar Card</label>
            <input type="text" class="form-control" id="nominee_adhar" placeholder="Enter Nominee Adhar No">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nominee_pancard" class="form-label">Pancard No</label>
            <input type="text" class="form-control" id="nominee_pancard" placeholder="Enter Nominee Pan No">
          </div>
          <div class="col-md-6 mb-3">
            <label for="nominee_age" class="form-label">Age:</label>
            <input type="number" id="nominee_age" name="nominee_age" class="form-control" placeholder="Enter a Nominee Age">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lead_address" class="form-label">Address:</label>
            <input type="text" id="lead_address" name="lead_address" class="form-control" placeholder="Entera Nominee Address" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </section>
