<!-- <div class="breadcrumbs d-flex align-items-center"
style="background-image: url('assets/img/about-header.jpg');">
<div class="container position-relative d-flex flex-column align-items-center">
    <h2>Login</h2>
    <ol>
        <li><a href="#" routerLink="/home">Home</a></li>
        <li>Login</li>
    </ol>
</div>
</div> -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Welcome to Endeavour Insurance </h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis cum recusandae eum laboriosam voluptatem repudiandae odio, vel exercitationem officiis provident minima. </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#" routerLink="/login" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>
</section>